html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family:Arial;
}
.NavBar{
  position:fixed;
  z-index: 1000;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 100%;
  background: rgb(255, 255, 255);
  filter:"Alpha(opacity=70)";
  opacity:0.7;
  /*border-right: 1px solid rgb(210, 210, 210);*/
  overflow: hidden;

}
#logo{
  position: relative;
  width: inherit;
  text-align: center;
  height: 20%;
}
.NavBar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: inherit;

}
.NavBar li{
  height: 20%;
}
a.NavButton{
  display: block;
  color: rgb(91, 91, 91);
  font-weight:normal;
  background-color:inherit;
  width:inherit;
  height:100%;
  text-align: center;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
.NavBar img{
  width: 40%;
  padding-top: 25%;
  padding-bottom: 5%;
}
a.NavButton:link{
}
a.NavButton:visited{
}
a.NavButton:hover{
  background-color: rgb(124, 145, 127);
  color: rgb(255, 255, 255);
}
#NavButtonInfor{
  border-right: 5px solid rgb(15, 89, 31);
}
#NavButtonMap{
  border-right: 5px solid rgb(15, 89, 31);
}
#NavButtonWork{
  border-right: 5px solid rgb(15, 89, 31);
}
#NavButtonAbout{
  border-right: 5px solid rgb(15, 89, 31);
}
#Main{
  /*overflow: hidden;*/
  background-color: rgb(255, 255, 255);
  /*margin-left: 120px;*/
  height: 100%;
  margin: 0px;
  padding: 0px;


}
h2{
  font-size: 300%;
}
p{
  line-height: 200%
}
.copyright{
  float: right;
  position: relative;
  top: 50%;
  right: 5px;
  color: rgb(255, 255, 255);
  font-size: 5px;
}
.divide{
  width: 50%;
  height: 2px;
  background-color: rgb(255, 255, 255);
/*here set left and right auto can put this div in the Father's center*/
  margin-left: auto;
  margin-right: auto;

}
.block{
  padding-left: 120px;
  height: 100%;
  background-color:inherit;
  clear: both;
}
.firstpart{
  background-image: url(pic/background.jpg);
}
.firstpart .describ{
  width: 100%;
  text-align: center;
  float: left;
  color: rgb(255, 255, 255);
  height: 30%;
  margin-top: 10%;
}

/*Here for Map page!!*/

.map{
  width: auto;
  height: 100%;
  background-image: url(pic/bgmmap.png);
  /*filter:"Alpha(opacity=70)";
  opacity:0.7;*/
}

.map .rectangle{
  position: relative;
  left: 20%;
  top: 10%;
  width: 60%;
  border: 2px solid green;

}
.map .marker1{
  float: left;
  width: 80px;
  height: 80px;
  margin: 5%;
  background-image: url(pic/marker80.png);
  background-size: 100%;
}
.map .marker2{
  float: left;
  width: 80px;
  height: 80px;
  margin: 10%;
  background-image: url(pic/marker80.png);
  background-size: 100%;
}
.map .marker3{
  float: right;
  width: 120px;
  height: 120px;
  margin: 5%;
  background-image: url(pic/marker.png);
  background-size: 100%;
}

.clean{
  /*In order to keep the rectangle cover the markers*/
  height: 1px;
  clear: both;
}

.map .describ{
  font-weight: bold;
  color: rgb(45, 120, 60);
  width: 50%;
  float: left;
  padding-left: 8%;
  padding-top: 8%;
}
.map .describ p{
  font-size: 120%;
  line-height: 150%;
  color: rgb(89, 87, 87);
}
.go{
  /*clear: both;*/
  position: absolute;
  bottom: 30px;
  float: left;
  padding-left: 40%;
}
.divide-green{
  position: absolute;
  z-index: 1;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background-color: rgb(45, 120, 60);
}
.introduction{
  float: left;
}
#map{

    width:100%;
    height:100%;
}
.highlight{
  position:absolute;;
  z-index: 100;
  right: 0px;
  width: 300px;

  background-color: rgb(255, 255, 255);
  filter:"Alpha(opacity=80)";
  opacity:0.8;

}
.top{
  font-size: 150%;
  background-color: rgb(54, 120, 60);
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.highlight p{
  padding: 5%;
  font-size: 13px;
  line-height: 150%;
  color: rgb(54, 120, 60);
}


/*Here for graph page!*/
.information{
  text-align: center;
}
.divide-black{
  height: 2px;
  width: 20%;
  background-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
}
.graphs{

  padding-top: 5%;
  width: 40%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}
.graph{

  width: 200px;
  height: 200px;
  background-color: rgb(149, 203, 158);
  border: 2px solid black;
  margin: 10px;
}
.graph1{
  float: left;
}
.graph2{
  float: right;
}
.blockp{
  width: 37%;
  background-color: red;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}
.A{
  float: left;
}
.B{
  float: right;
}
.pathmap{
  width: 900px;
  height: 900px;
  background-image: url(pic/pathmap.jpg);
  margin-left: auto;
  margin-right: auto;
}

.labels{
  display:block;
  color:"#FF7733";
  font-weight: bold;
}
.peaks{
  display:block;
}

#myway polyline:hover{
    stroke-width: 8;
    stroke:#FF6633;
    font-weight: bold;
}
path:hover{
    stroke-width: 8;
    stroke:blue;
}



/*Here for work page!!!*/
.work .describ{
  /*padding-left: 5%;*/
}
.work .describ p{
  color: rgb(139, 139, 139);
}
.titles{
  float: left;
  width: 30%;
  height: 900px;
  border-right: 1px solid black;
}
.details{
  float: right;
  width: 69%;
  height: inherit;
}
em,span{
  color: rgb(39, 125, 58);
}



/*Here is the last page!!*/
.about{
  background-color: rgb(148, 175, 154);
  padding-left: 25%;
}
.me img{
  float: left;
  width: 15%;
  margin-top: 15%;
  padding: 5%;

}
.about .describ{
  margin-top: 12%;
  text-shadow: 5px 5px 8px #656565;
  float: left;
  font-size: 120%;
  color:rgb(255, 255, 255);
}
h1{
  font-size: 200%;
}
